<div class="review" data-rating="{{rating}}" data-recommend="{{recommend}}">
    <div class="review-contents">
        <div class="review-info-container">
            <a href="#" class="reviewer-name">{{name}}</a>
            <div class="review-recommend"> {{recommend}}</div>
            <div class="review-rating">Rating: {{rating}}</div>
            <div class="review-description">{{review}}</div>
        </div>
    </div>
</div>